@import "_bootstrap_variables";
@import "_bootstrap_custom";
@import "font-awesome";
@import "chat_rooms";


.form_title{
  margin-bottom: 20px;
}

.form_space{
  margin-bottom: 25px;
}

.form_description{
  display: block;
  width: -webkit-fill-available;
  height: 100px;
  margin-bottom: 30px;
}

.label_space{
  margin-right: 10px;
}

.chat_card{
  padding: 15px 0px 30px 30px;
  max-height: 450px;
  overflow-y: auto;
}
