@import "_bootstrap_variables";
@import "_bootstrap_custom";
@import "font-awesome";
@import "chat_rooms";


.form_title{
  margin-bottom: 20px;
}

.form_space{
  margin-bottom: 25px;
}

.form_description{
  display: block;
  width: 800px;
  height: 100px;
  margin-bottom: 30px;
}

.label_space{
  margin-right: 10px;
}
